<!DOCTYPE html>
<%- include('partials/head') %> 
<body style="background-color: white">
        
    <script src="/js/dash.js"></script>
    <%- include('partials_agent/navbar',{location:"dashboard"}) %>  

    
    <section class="container col-lg-9 svgContainer p-5 mt-2" style=" border-radius: 5vmin; height: auto !important; color: white; background-color: #212529">
        <div class="display-1 text-center">
          Hello <%= agent.name %> 
        </div>

        <%let i=0;%> 
        <% for(let val in checker){ %> 
          <input type="hidden" id="<%= "count"+val%>" value="<%= checker[val] %>">
          <% i = i+1 %> 
        <% } %> 
        <% for(let val in categories){ %> 
            <input type="hidden" id="<%= "name"+val%>" value="<%= categories[val] %>">
        <% } %>
        <input type="hidden" id="count" value="<%=i%>">
        
        <% for(let val in monthcheck){ %> 
            <input type="hidden" id="<%= "month"+val%>" value="<%= monthcheck[val] %>">
        <% } %>
        
        <div class="text-end">
          <p>Date: <%= Date1 %> </p>
          <p style="margin-top: -20px;">Time: <span style="text-transform: uppercase;" id="timeimp"><%=Time1 %></span></p>
        </div>
        <div class="text-center">
          <h4 class="display-7">Business Statistics</h4>
        </div>
        <div class="d-flex justify-content-between mt-5">
          <div class="display-6">
            Total Users: <%= userCount %> 
          </div>
          <div class="display-6">
            Total Orders: <%= orderCount %> 
          </div>
        </div>
          <main>
            <!-- <div id="chart_wrap"> -->
              
              <h3 class="mt-5">Graph for Number of Products Sold</h3>
              <div id="chart_div" style="width: 700px; margin: 0 auto !important;"></div>
              <h3 class="mt-5">Graph for Number of Orders Placed</h3>
              <div id="top_x_div" style="width: 600px; margin: 0 auto;"></div>
            <!-- </div> -->
          </main>
          
          <!-- text part  -->
      
        </section>
      
        <script>
            google.charts.load('current', {packages: ['corechart', 'bar']});
            google.charts.setOnLoadCallback(drawBasic);
      
            function drawBasic() {
                let namearr = [];
                let countarr = [];

                let c = document.getElementById("count").value;
                

                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Products');
                    data.addColumn('number', 'Total Products');
                    for(let i=0; i<c;i++){
                        data.addRows([[document.getElementById("name"+i).value, parseInt(document.getElementById("count"+i).value)]]);
                    }

                    var options = {
                    title: 'Products Sold',
                    titleTextStyle: {
                    color: "white", 
                    align: 'center'
                    },
                    backgroundColor: '#212529',
                    chartArea: {width: '50%', color: 'white', backgroundColor:'#212529'},
                        textStyle:{color: 'red'},
                    hAxis: {
                        title: 'Products sold',
                        titleTextStyle: {
                        color: "white", 
                        },
                        minValue: 0,
                        maxValue: 30,
                        textStyle:{color: 'white'},
                    },
                    vAxis: {
                        title: 'Products',
                        titleTextStyle: {
                        color: "white", 
                        },
                        minValue: 0,
                        maxValue: 30,
                        textStyle:{color: 'white'},
                    },
                    legend: { position: "none" },
                    };
            
            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
      
            chart.draw(data, options);
          }
        
      
          // orders placed graph 
      
          google.charts.load('current', {'packages':['bar']});
            google.charts.setOnLoadCallback(drawStuff);
      
            function drawStuff() {
              
              let montharr= [];
              for(let i=0; i<12;i++){
                let valuee = document.getElementById("month"+i).value;
                montharr.push(valuee);
              }
              var data = new google.visualization.arrayToDataTable([
                ['ORDERS', 'Orders Placed'],
                ["JAN", parseInt(montharr[0])],
                ["FEB", parseInt(montharr[1])],
                ["MAR", parseInt(montharr[2])],
                ["APR", parseInt(montharr[3])],
                ['MAY', parseInt(montharr[4])],
                ['JUN', parseInt(montharr[5])],
                ['JUL', parseInt(montharr[6])],
                ['AUG', parseInt(montharr[7])],
                ['SEP', parseInt(montharr[8])],
                ['OCT', parseInt(montharr[9])],
                ['NOV', parseInt(montharr[10])],
                ['DEC', parseInt(montharr[11])],
              ]);
      
              var options = {
              title: 'Orders Placed',
              titleTextStyle:{color: 'white',},
                backgroundColor: '#212529',
                textStyle:{color: 'white'},
                chartArea: {
                  width: '20%',
                backgroundColor: '#212529',
                  title: 'ORDERS BY MONTH', 
                  color: 'white',
                },
                hAxis: {
                title: 'Orders Placed',
                textStyle:{color: 'white'},
                  },
               vAxis: {
                title: 'Number of Orders Placed',
                titleTextStyle: {
                  color: "white", 
                },
                textStyle:{color: 'white'},
                  },
                bar: { groupWidth: "60%" },
                
              legend: { position: "none" },
              };
      
              var chart = new google.charts.Bar(document.getElementById('top_x_div'));
              chart.draw(data, google.charts.Bar.convertOptions(options));
            };

            
        </script>
    
    <footer>
        <%- include('partials/footer') %>
    </footer>  

</body>