<!DOCTYPE html>
<%- include('partials/head') %> 
<body style="background-color: white">   
    <%- include('partials_agent/navbar',{location:"orders"}) %>  
    
    <% let i=0; let j=0; let TransId="";%> 
    <% for(let orders of OrderProduct) { %> 
      
      <%if(TransId != OrderList[i].TransactionID && i!=0 ){ %>
        
        </tbody>
        </table>
        </td>
        </tr>
        </tbody>
        </table>
        </div>
        </div>
      <% } %>  
  
    <%if(TransId != OrderList[i].TransactionID ){  j++;%>
        <% TransId=OrderList[i].TransactionID %>
          <div class="navbar navbar-expand-lg navbar-light bg-none">
            <div class="container col-lg-8 col-md-12 col-sm-12">
              <table class="table table-dark" id="orderData">
                <thead>
                  <% if(OrderList[i].Status=="pending") {%>
                  <tr>
                    <td colspan="8">
                      <div class="d-flex justify-content-between mx-4">
                          <input type="button" class="btn btn-success updateStatus btn-sm m-1" style="color:white;width: 100%;" value=&#10003; onclick="fill('<%-OrderList[i].TransactionID%>')">
                          <input type="button" id="deletebutton" class="btn btn-danger btn-sm m-1" style="color: white;width: 100%;" value="X" onclick="fill('<%-OrderList[i].TransactionID%>')">
                      </div>
                    </td>  
                  </tr>
                  <% } %>
                  <tr style="text-align: center">
                    <th scope="col" class="p-3">#</th>
                    <th scope="col" class="p-3">Name</th>
                    <th scope="col" class="p-3">Date</th>
                    <th scope="col" class="p-3">Mobile No</th>
                    <th scope="col" class="p-3">Amount</th>
                    <th scope="col" class="p-3">Delivery Status</th>
                    <th scope="col"><input type="button" id="deletebutton" class="btn btn-danger btn-sm m-1" style="color: white;width: 100%;" value="Delete" onclick="fill('<%-OrderList[i].TransactionID%>')">
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="vertical-align: middle; text-align: center">
                    <th scope="row"><%= j %> </th>
                    <% for(let u of user) { %>
                      <%if(u._id == OrderList[i].UserID ){ %>
                        <td><%=u.name %></td>
                      <% } %> 
                    <% } %> 
                    <td><%=OrderList[i].OrderDate.toString().slice(4,15); %></td>
                    <% for(let u of user) { %>
                      <%if(u._id == OrderList[i].UserID ){ %>
                        <td><%=u.mobile %></td>
                      <% } %> 
                    <% } %>
                    <!-- <td><%=OrderList[i].TransactionID%></td> -->
                    <td>₹<%=OrderList[i].Total %></td>
                      
                      <% if(OrderList[i].Delivered==false) {%>
                        <td rowspan="2"> <select name="status" id="<%-'statusD'+OrderList[i].TransactionID%>" style="background-color: #343a40; color: white; border: none; outline: none;">
                            <option value="pending" <%-OrderList[i].Delivered?'':'select'%>>Pending</option>
                            <option value="delivered" <%-OrderList[i].Delivered?'select':''%>>Delivered</option>
                        </select> </td>
                      <% }else{ %> 
                        <td rowspan="2">Delivered</td>
                      <% } %>                
                      <td rowspan="2">
                        <input type="button"  class="btn btn-success btn-sm updaToDelivery" class="display:inline-block;" value="Update" onclick="fill('<%-OrderList[i].TransactionID%>')">
                      </td>
                    </tr>
                    <tr>
                      <td colspan="5" class="text-center"> <% for(let u of user) { %>
                        <%if(u._id == OrderList[i].UserID ){ %>
                          Address :&nbsp <%=u.location %>
                        <% } %> 
                      <% } %></td>
                    </tr>
                    <tr>
                    <td colspan="7">
                        <table class="table table-dark mb-0 text-center table-striped" class="width: margin: 0 auto !important;">
                            <thead>
                                <tr>
                                    <th colspan="7" class="text-uppercase">Order Details</th>
                                </tr>
                                <tr>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Unit Price</th>
                                    <th scope="col">Total(incl. taxes)</th>
                                </tr>
                            </thead>
                            <tbody>
      
        <% } %>
        <tr style="vertical-align: middle">
            <td> <%=orders[0].name%></td>
            <td><%= OrderList[i].Quantity %></td>
            <td><%= OrderList[i].Price %></td>
            <td><%= OrderList[i].Price * OrderList[i].Quantity%></td>
        </tr>
                      
        <% i++;} %> 
        
      </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>

    <% if(OrderProduct.length==0){ %>
      <div class="container col-lg-8 col-md-12 col-sm-12 mb-5 mt-4">
        <div class="d-flex flex-column text-center" style="width: 100%;height:65vh;line-height: 65vh;text-align: center;">
          <img src="/image/noItems.png" style="margin: 0 auto; width: 200px;" alt="">
          <span style="font-size: 4.2vh;display: inline-block;vertical-align: middle;line-height: normal;">"You haven't received any orders yet!"</span>
        </div>
      </div>  
    <% } %>

    <%- include('partials/scrollToTop')%> 
  
    <%- include('partials/footer') %> 
    <input type="hidden" id="TransId">
    
    <script>
      function fill(TransId){
        document.getElementById("TransId").value=TransId;
      }
    </script>

</body>